*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
archive/
.DS_Store

# Protect private config.yml
config.yml

# working notes
notes.txt

# Ignore exported tsv, csv, xlsx
*.csv
*.tsv
*.xlsx
*.xls
